@import "variables";

.cards-list {
  display: flex;
  flex-direction: column;
  margin: 1rem 0 2.3rem;
  gap: 1rem;
}

.card-item {
  background-color: $white;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.5rem 1.5rem 1.531rem;
  gap: 2rem;
  border: 1px solid $grey-200;
  border-radius: 0.75rem;
  cursor: pointer;

  &:hover:not(&-full) {
    .info__title {
      color: $blue-400;
    }

  }

  &:active:not(&-full) {
    .info__title {
      color: $blue-600;
    }
  }


  &-full {
    cursor: default;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 0.695rem;
    flex-grow: 1;

    &-full {
      gap: 1.031rem
    }
  }

  &__favorites {
    flex-shrink: 0;
    cursor: pointer;
    max-width: 1.375rem;
    max-height: 1.375rem;

    &:hover {
      stroke: $blue-500-main;
    }

    &:active {
      fill: $blue-500-main;
    }

    &-liked {
      fill: $blue-500-main;
      stroke: $blue-500-main;
    }
  }
}

.info {

  &__title {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: $blue-500-main;

    &-full {
      color: $black;
      font-weight: 700;
      font-size: 1.75rem;
      line-height: 2.125rem;

    }
  }

  &__job {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    @include sm {
      font-size: 0.3rem;
    }
  }

  &__job__salary {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.25rem;
    color: $black;

    &-full {
      font-weight: 700;
      font-size: 1.25rem;
    }

    @include sm {
      font-size: 0.875rem;
    }
  }

  &__job__divider {
    font-family: $font-logo, sans-serif;
    font-size: 1.25rem;
    line-height: 105%;
    color: $grey-600;
    @include sm {
      font-size: 0.875rem;
    }
  }


  &__job__time {
    font-size: 1rem;
    line-height: 1.25rem;

    &-full {
      font-size: 1rem;
      line-height: 1rem;
    }

    @include sm {
      font-size: 0.875rem;
    }
  }

  &__location {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
  }

}
