.container {
  max-width: 1116px;
  margin: 0 auto;
}

.main {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  gap: 1.72rem;

  section {
    flex: 1;
  }
}



