@import 'variables';

.description {
  background-color: $white;
  padding: 1.5rem;
  display: flex;
  margin: 1.25rem 0 3.188rem;
  flex-direction: column;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.25rem;
  gap: 1rem;
  justify-content: space-between;
  border: 1px solid $grey-200;
  border-radius: 0.75rem;

  ul {
    list-style-type: disc;
    list-style-position: inside;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 0.25rem;
  }
}


