@import 'variables';

.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 7.5rem auto 0;

  &___text {
    font-weight: 700;
    line-height: 1.813rem;
    font-size: 1.5rem;
  }
}

.secondary-button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  padding: 10px 1.5rem;
  color: $blue-600;
  border: 1px solid transparent;
  background-color: $blue-100;
  border-radius: 0.5rem;
  transition: 0.15s ease-in;

  &:hover {
    background-color: $blue-500-main;
    color: $white;
  }

  &:active {
    background-color: $blue-600;
    color: $white;
  }
}