@import 'variables';

.filter {
  flex-grow: 0;


  form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1.2rem;
    background-color: $white;
    border: 1px solid $grey-200;
    border-radius: 0.75rem;
  }

  input {

    display: flex;
    height: auto;
    font-family: 'Inter', sans-serif;
    padding: 11px 2rem 11px 0.7rem;
    border: 1px solid $grey-300;
    border-radius: 0.5rem;
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.125rem;


    &::placeholder {
      color: $grey-500;

    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    gap: 67px;
  }

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
  }

  &__reset {
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: $grey-500;
    cursor: pointer;
    transition: 0.2s ease-in;

    svg {
      stroke: $grey-500;
      cursor: pointer;
      transition: 0.2s ease-in;
    }

    &:hover {
      color: $blue-400;

      svg {
        stroke: $blue-400;
      }
    }

    &:active {
      color: $blue-500-main;

      svg {
        stroke: $blue-500-main;
      }
    }
  }

  &__catalogues {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 20px;
  }

  .select-arrow-open {
    transform: rotate(180deg);
    stroke: $blue-500-main;
  }


  &__subtitle {
    line-height: 19px;
    font-weight: 700;
  }

  &__salary {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 20px;
  }
}

.mantine-Select-input {
  overflow: hidden;
  text-overflow: ellipsis;
}

.mantine-Select-rightSection {
  top: 0.4rem;
  bottom: 0.4rem;
  right: 0.35rem;
}

.mantine-NumberInput-rightSection {
  top: 0.4rem;
  bottom: 0.4rem;
  right: 0.35rem;

  button {
    border: none;

    svg {
      stroke: $grey-500;
    }

    &:hover {
      background-color: transparent;
    }

  }
}





