@import "variables";

.header {
  background-color: $white;
  margin-bottom: 40px;

  &__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1.5rem 0;
    gap: 17.55rem;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    a {
      font-family: $font-logo, sans-serif;
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
      letter-spacing: -0.02em;
      color: $black;
      transition: 0.2s ease-in;

      &:hover {
        color: lighten($black, 20%);

      }

      &:active {
        color: $black;
      }
    }
  }
}

.nav {
  &__list {
    display: flex;
    align-items: center;
    gap: 61px;
  }

  &__item {
    font-weight: 400;
    color: $black;
    transition: 0.2s ease-out;

    &:hover {
      color: $blue-500-main;
      transition: 0.2s ease-in-out;

    }

    &-active {
      font-weight: 500;
      color: $blue-500-main;
      transition: 0.2s ease-in;
    }

  }
}